.dialogs {
    background-color: skyblue;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.avatar {
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid red;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: lemonchiffon;
    font-weight: bold;
}

.messages {
    padding: 10px;
}

.messages .message {

}