.profileWallpaper {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.description {
    width: 700px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
}

.avatarContainer > * {
    margin: 10px 10px 0;
}

.userAvatar {
    width: 250px;
    height: 250px;
    border: 5px solid white;
    border-radius: 10px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    margin: 10px;
    padding: 10px 0 0 25px;
    border: 3px dotted white;
    border-radius: 10px;
    background-color: #e7d9c8;
}

.profileDataContainer {
    background-color: wheat;
}

.editButton, .editModeCancelButton {
    align-self: flex-end;
    position: absolute;
    margin-right: 20px;
}

.profileInfoEditMode .editModeItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 0 0;
}

.editModeContactsSection {
    display: flex;
    flex-direction: column;
}

.profileInfoEditMode textarea {
    resize: none;
    width: 240px;
    height: 60px;
    margin-right: 60px;
}

.profileInfoEditMode input {
    resize: none;
    width: 240px;
    margin-right: 60px;
}

.profileInfoEditMode {

}

.profileInfoEditMode .editModeSubmitButton {
    margin: 20px auto;
    font-size: 24px;
}

.fullName {
    font-size: 35px;
    font-weight: bold;
}

.statusContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 5px;
}

.status {
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
    color: grey;
}

.status > span {
    display: block;
    background-color: #cecece;
    min-width: 50px;
    min-height: 20px;
}

.lookingForAJob {
    color: #4781c8;
}

.lookingForAJobCheckbox input {
    width: revert;
    margin-right: 292px;
}

.profileInfoSection {
    padding-top: 15px;
    font-size: 15px;
    line-height: 110%;
}

.profileInfoSection > :not(.profileInfoTitle) {
    padding-left: 15px;
}

.profileInfoTitle {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 2px;
}

.aboutMe {
    padding-top: 0;
}

.lookingForAJobDescription {

}

.contact {
    color: #714b90;
}

.showMeButton {
    width : 25px;
    height : 25px;
    position : absolute;
    top : 225px;
    margin : 0 10px;
    padding : 5px;
    color: wheat;
    font-weight: bold;
    background-color : red;
    border : 2px solid wheat;
    border-radius : 0 40px 40px 40px;
    cursor : pointer;
}