.header {
    grid-area: h;
    background-color: burlywood;
}

.header img {
    margin: 10px;
    width: 40px;
}

.loginBlock {
    float: right;
    margin: 10px 40px 0 auto;
    font-size: 20px;

}

.loginBlock a {
    color: #333333;
}