.navbar {
    grid-area: n;
    background-color: indigo;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
    font-weight: bold;
}