.navbar {
    grid-area: n;
    background-color: dimgrey;
    padding: 15px 0 0 10px;
    width: 175px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
    font-weight: bold;
}

.friendsTitle {
    font-size: 20px;
    margin: 25px 0 0;
    color: wheat;
    cursor: pointer;
}

.friendsOnlineContainer {
    max-width: inherit;
}

.friendsOnline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.toggleFriendsMode {
    cursor: pointer;
}

.avatar {
}

.friendAvatar {
    margin: 5px;
    width: 40px;
    min-height: 22px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid white;
}

.friendName {
    text-align: center;
    color: white;
}