.pageButtons {
    margin: 10px 0;
    width: 700px;
    height: 60px;
    overflow: auto;
}

.pageButtons > * {
    cursor: pointer;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    font-size: 25px;
    color: #333333;
}

.selectedPage {
    color: crimson;
}
